<div class="header clearfix">
    <a href="/" class="logo"></a>
    <ul class="menu">

        <li><a href="{% url 'main' %}"
               class="{% if request.path == '/' %}active{% endif %}">домой
            </a>
        </li>

        <li><a href="{% url 'mainapp:all_products_descending_order' %}"
               class="{% if request.path == '/products/' %}active{% endif %}">магазин
            </a>
        </li>

        <li><a href="{% url 'contact' %}"
                class="{% if request.path == '/contact/' %}active{% endif %}">контакты</a></li>


        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'authapp:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
              <a href="{% url 'authapp:logout' %}">выйти</a>
            {% else %}
              <a href="{% url 'authapp:login' %}">войти</a>
            {% endif %}
        </li>


    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>

</div>
